.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

.App-body {
  min-width: 250px;
  max-width: 300px;
  padding: 20px;
}
